<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <variable scope="context" name="mdcPattern" value="%replace(;%X{MSGKEY};%X{MSGDATA}){';+( |$)', ''}" />

    <property name="LOG_TEMP" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="CORE"/>
    <property name="SERVICE_NAME" value="Admin"/>

    <include resource="logback-appenders.xml"/>
    <include resource="logback-loggers.xml"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="com.netflix.discovery" level="OFF"/>
    <logger name="org.ameba" level="WARN"/>

    <springProfile name="ELK">
        <appender name="ELK" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>elk:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGFILE"/>
            <appender-ref ref="ELK"/>
        </root>
    </springProfile>
    <springProfile name="LOKI">
        <include resource="logback-loki.xml"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGFILE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </root>
</configuration>